
write a Python program to generate the Fibonacci Series up to n terms.

In [3]:
n=int(input("Enter nunber of terms: "))
a=0
b=1
for i in range(1,n+1,1):
  print(a,end=" ")
  sum=a+b
  a=b
  b=sum

Enter nunber of terms: 10
0 1 1 2 3 5 8 13 21 34

Write a Python program to check whether a number is palindrome or not.

In [4]:
n=1221
save=n
rev=0
while n!=0:
  e=n%10
  n=n//10
  rev=rev*10
  rev=rev+e
print(rev)

if rev==save:
  print("Palindrome")
else:
  print("Not a Palindrome")

1221
Palindrome

write a Python program to print prime number from 1 to 100.

In [12]:
n=100
for i in range(1,n+1,1):
  count=0
  for j in range(1,i+1,1):
    if i%j==0:
      count+=1
  if count==2:
    print(j,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

write a Python program for below patterns.

In [13]:
n=5
for i in range(1,n+1,1):
  for j in range(1,i+1,1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [14]:
n=5
for i in range(1,n+1,1):
  a=1
  for j in range(1,i+1,1):
    print(a,end=" ")
    a+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
n=5
for i in range(1, n + 1):
  a=69-(i-1)
  for j in range(1,n-i+2):
    print(chr(a),end=" ")
    a-=1
  print()

E D C B A
D C B A
C B A
B A
A

Write a Python program tp print all even numbers between 1 and 100.

In [17]:
n=100
for i in range(1,n+1,1):
  if i%2==0:
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100